<h2>Add Movie</h2>

<form action="/create-the-movie" method="POST">

    <p>Title</p>
    <input type="text" name="newTitle">

    <p>Director</p>
    <input type="text" name="newDirector">

    <p>stars</p>
    <input type="text" name="newStars">

    <p>Image URL</p>
    <input type="text" name="newImage">

    <p>Description</p>
    <input type="text" name="newDescription">

    <p>Showtimes</p>
    <input type="text" name="newShowtimes">

    <button>Save!</button>
</form>